.Title {
  text-align: center;
  color: rgb(255, 255, 255);
  /* margin-top: 3%; */
  padding: 3.5%;
  font-size: 9vh;
  font-family: "abnes";
  margin-left: 3.2%;

  @font-face {
    font-family: ;
    src: local("abnes"), format("ttf");
  }
  /* 
  @font-face {
    font-family: "Azonix";
    src: url("./Azonix.otf");
  } */
  /* @font-face {
    font-family: "Azonix";
    src: local("Azonix"), url(./azonix/Azonix.otf) format("opentype");
  } */
}
