.App {
  text-align: center;
}

.gameDisplayWrapper {
  display: flex;
  text-align: center;
}

.AppWrapper {
  background-color: rgb(11, 53, 70);
  background-image: url(./backGround.jpg);
  height: 100vh;
}

p {
  font-size: 97rem;
  color: white;
}

.design {
  width: 40vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin-top: 2.5%;
  font-size: 2.2rem;
  margin-left: 31%;
  animation: design 3s infinite linear alternate;
}

@keyframes design {
  0% {
    color: white;
  }

  50% {
    color: rgb(199, 28, 214);
    transform: scale(105%);
    /* margin-top: 1.5%; */
  }
}
